[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "frankl1.github.io"]
	path = frankl1.github.io
	url = https://github.com/frankl1/frankl1.github.io
	branch = master
